.git*
!.gitignore
hassio/addons
hassio/ssl
hassio/store
hassio/homeassistant/.*
!hassio/homeassistant/.HA_VERSION
hassio/homeassistant/custom_components
hassio/homeassistant/blueprints
hassio/homeassistant/image
hassio/homeassistant/tts
hassio/homeassistant/www
hassio/homeassistant/zigbee2mqtt/*
!hassio/homeassistant/zigbee2mqtt/devices.yaml
hassio/homeassistant/www
hassio/homeassistant/secrets.yaml
hassio/homeassistant/scripts.yaml
esphome/secrets.yaml
esphome/common/secrets.yaml
esphome/test
etc/transmission
gw
legacy
sync
ttlock
tuya-cli
extract-backup
