.esphome
.venv
.git*
!.gitignore
hassio/addons
hassio/apparmor
hassio/dns
hassio/media
hassio/ssl
hassio/store
hassio/supervisor-version
hassio/*.json
hassio/homeassistant/.*
hassio/homeassistant/blueprints
hassio/homeassistant/image
hassio/homeassistant/tts
hassio/homeassistant/www
hassio/homeassistant/zigbee2mqtt/*
!hassio/homeassistant/zigbee2mqtt/devices.yaml
hassio/homeassistant/www
hassio/homeassistant/secrets.yaml
hassio/homeassistant/scenes/movie.yaml
hassio/homeassistant/scripts.yaml
esphome/secrets.yaml
esphome/common/secrets.yaml
esphome/test
etc/mdns-repeater/mdns-repeater
etc/systemd/timemachine.service
etc/systemd/transmission.service
etc/transmission
gw
legacy
sync
ttlock
tuya-cli
