[Unit]
Description=Podman timemachine.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/timemachine.pid %t/timemachine.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/timemachine.pid --cidfile %t/timemachine.ctr-id --cgroups=no-conmon --replace -d --restart=unless-stopped --name timemachine --net=home --hostname hotaru-tm -e DEBUG_LEVEL=1 -e TM_UID=1000 -e TM_GID=1000 -e PASSWORD=cgfcbvtyz -v /data/timemachine:/opt/timemachine docker.io/mbentley/timemachine:smb-20220505
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/timemachine.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/timemachine.ctr-id
PIDFile=%t/timemachine.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
